.cards{
  height: 512px;
  width: 512px;
  padding: 4px 0 0 4px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  display: grid;
    grid-template-columns: 200px 100px 200px;
    grid-template-rows: 200px 100px 200px;
    grid-gap: 2px;
   
    margin-top: 60px;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.372);
    z-index: -10;
    box-sizing: border-box;
    margin-top: 20px;
   
}
.cards>div{
  z-index: 12;
}
