
.container_home{
   
 background-image: url("../img/image8.jpeg");
  background-color: #cccccc;
  height: 34rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
 
}
.get_start{
    position: relative;
    top:14rem;
    left: 1rem;
}
.start_button{
    background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
  padding: 12px 26px;
  font-size: 20px;
  border-radius: 0.2rem;
}
.start_button:hover {
    box-shadow: 28px 8px 70px 21px rgba(28,133,70,0.59);
-webkit-box-shadow: 28px 8px 70px 21px rgba(28,133,70,0.59);
-moz-box-shadow: 28px 8px 70px 21px rgba(28,133,70,0.59);
transition: all 0.3s ease-out;
  background: #fff;
  color:#242424 ;
  transition: 250ms;
  }