
   .linetwo_containner{

    position: relative;
    height: 200px;
    width:100px;
    background-color: black;
   
  
    display: grid;
    grid-template-columns: 33px 33px 33px;
    grid-template-rows:  33px 33px 33px 33px 33px 33px;
    grid-gap: 1px;
    
    justify-content:center;
    align-content:center;
    z-index: -2;
   }
   .linetwo_containner>div{
       background-color: white;
       z-index: 2;
      
       
     
   }
   .linetwo_containner>div:nth-child(2){
    background-color: yellow;
  }
  
  .linetwo_containner>div:nth-child(5){
    background-color: yellow;
  }
  
  .linetwo_containner>div:nth-child(8){
    background-color: yellow;
  }
  
  .linetwo_containner>div:nth-child(11){
    background-color: yellow;
  }
  
  .linetwo_containner>div:nth-child(14){
    background-color: yellow;
  }
  
  .linetwo_containner>div:nth-child(13){
    background-color: yellow;
  }
