.line_containner {

  position: relative;
  height: 200px;
  width: 100px;
  background-color: black;


  display: grid;
  grid-template-columns: 33px 33px 33px;
  grid-template-rows: 33px 33px 33px 33px 33px 33px;
  grid-gap: 1px;

  justify-content: center;
  align-content: center;
  z-index: -2;
}

.line_containner.horizontal {
  height: 100px;
  width: 200px;
  grid-template-columns: 33px 33px 33px 33px 33px 33px;
  grid-template-rows: 33px 33px 33px;
}

.line_containner>div {
  background-color: white;
  z-index: 2;
  display: grid;
  justify-items: center;
  align-items: center;
}

.box-4, 
.box-5, 
.box-7, 
.box-10, 
.box-13, 
.box-16 {
  background-color: green !important;
}

.box-19, 
.box-25, 
.box-26, 
.box-27, 
.box-28, 
.box-29 {
  background-color: red !important;
}

.box-66, 
.box-67, 
.box-64, 
.box-61, 
.box-58, 
.box-55{
  background-color: yellow !important;
}


.box-42, 
.box-43, 
.box-44, 
.box-45, 
.box-46, 
.box-52 {
  background-color: blue !important;
}