.login_body{
  width: 40%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 20%;
}

.Container {
    width: 280px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    
    }
    
    
    .Header{
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      color: rgb(48, 0, 185);
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 4.9rem;
      text-align: center;
    }
    
    .HDesc {
      box-sizing: border-box;
      margin: 0 auto;
      min-width: 0px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.2rem;
      line-height: 2.3rem;
      font-weight: 400;
      text-align: center;
      width: 21.5rem;
      display: inline;
    }
    
    .HDescp {
      box-sizing: border-box;
      margin: 0 auto;
      min-width: 0px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 0.8rem;
      line-height: 1.3rem;
      font-weight: 200;
     
      width: 21.5rem;
      display: block;
      padding-top: 10px;
      padding-left: 0px;
    }
    
    .HDescs {
      box-sizing: border-box;
      margin: 0 auto;
      min-width: 0px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.2rem;
      line-height: 2.3rem;
      font-weight: 400;
      text-align: center;
      width: 18.5rem;
      display: inline;
      margin-left: 75px;
    }
    
    .Bold {
      font-weight: 600;
      display: inline;
    }
    
    .Form {
      margin-top: 40px;
      width: 100%;
    }
    
    .Input {
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      color: rgb(48, 0, 185);
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .Preq {
      text-align: right;
      color: rgb(41, 37, 37);
      margin-bottom: 0.1rem;
      font-size: 1rem;
    }
    .AFPass {
      display: block;
      font-size: 0.99rem;
      text-decoration: none;
      font-weight: 300;
      text-align: center;
      color: rgb(48, 0, 185);
      box-sizing: border-box;
      margin: 0.9rem 0px 0px;
      min-width: 0px;
      cursor: pointer;
    }
    
    .SButton {

      line-height: 1.2rem;
      font-weight: 600;
      height: 2.5rem;
      width: 7rem;
      box-sizing: border-box;
      margin: 2.1rem 0px 0px;
      min-width: 0px;
      appearance: none;
      display: inline-block;
      text-align: center;
      line-height: inherit;
      text-decoration: none;
      padding: 12px 8px;
      border: 1px solid transparent;
      cursor: pointer;
      outline: none;
      font-size: 1rem;
      font-weight: normal;
      color: rgb(255, 255, 255);
      background-color: rgb(48, 0, 185);
      border-radius: 5rem;
      font-family: 'Source Sans Pro', sans-serif;
      letter-spacing: 1.5px;
     
      text-align: center;
    }
    .CSpan {
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      color: rgb(48, 0, 185);
      cursor: pointer;
    }
    .CAngkor {
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      color: rgb(48, 0, 185);
    }

    .SButton:hover{
      box-shadow: 28px 8px 70px 21px rgba(136, 184, 155, 0.59);
      -webkit-box-shadow: 28px 8px 70px 21px rgba(133, 162, 175, 0.59);
      -moz-box-shadow: 28px 8px 70px 21px rgba(43, 58, 49, 0.59);
      transition: all 0.3s ease-out;
        background: #fff;
        color:#242424 ;
        transition: 250ms;
    }
    p{
      font-size: 16px;
      color:rgb(95, 93, 93);
    }