.login_body{
  width: 400px;
  height: 600px;
  margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    border: darkgrey 2px solid;
    background-color: #606269;
    z-index: -2;
    box-sizing: border-box;
}

.Container {
    width: 280px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    
    }
    
    
    .Header{
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      color: rgb(48, 0, 185);
      font-size: 3rem;
      font-weight: 600;
      line-height: 4.9rem;
      text-align: center;
    }
    
    .HDesc {
      box-sizing: border-box;
      margin: 0 auto;
      min-width: 0px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.2rem;
      line-height: 2.3rem;
      font-weight: 400;
      text-align: center;
      width: 21.5rem;
      display: inline;
    }
    
    .HDescp {
      box-sizing: border-box;
      margin: 0 auto;
      min-width: 0px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.2rem;
      line-height: 2.3rem;
      font-weight: 400;
      text-align: center;
      width: 21.5rem;
      display: block;
    }
    
    .HDescs {
      box-sizing: border-box;
      margin: 0 auto;
      min-width: 0px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.2rem;
      line-height: 2.3rem;
      font-weight: 400;
      text-align: center;
      width: 18.5rem;
      display: inline;
      margin-left: 75px;
    }
    
    .Bold {
      font-weight: 600;
      display: inline;
    }
    
    .Form {
      margin-top: 40px;
      width: 100%;
    }
    
    .Input {
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      color: rgb(48, 0, 185);
      border-radius: 0.8rem;
      border-width: 1px;
      border-style: solid;
      outline: none;
      background: white;
      padding: 8px 15px;
      font-size: 1.3rem;
      font-weight: 200;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 20px;
      box-shadow: 1px 1px #000000;
    }
    .Preq {
      text-align: right;
      color: rgb(41, 37, 37);
      margin-bottom: 0.1rem;
      font-size: 1.4rem;
    }
    .AFPass {
      display: block;
      font-size: 1.1rem;
      text-decoration: none;
      font-weight: 300;
      text-align: center;
      color: rgb(48, 0, 185);
      box-sizing: border-box;
      margin: 0.9rem 0px 0px;
      min-width: 0px;
      cursor: pointer;
    }
    
    .SButton {
      font-size: 1.3rem;
      line-height: 1.2rem;
      font-weight: 600;
      height: 3rem;
      width: 10rem;
      box-sizing: border-box;
      margin: 2.1rem 0px 0px;
      min-width: 0px;
      appearance: none;
      display: inline-block;
      text-align: center;
      line-height: inherit;
      text-decoration: none;
      padding: 12px 8px;
      border: 1px solid transparent;
      cursor: pointer;
      outline: none;
      font-size: 1.2rem;
      font-weight: normal;
      color: rgb(255, 255, 255);
      background-color: rgb(48, 0, 185);
      border-radius: 5rem;
      font-family: 'Source Sans Pro', sans-serif;
      letter-spacing: 1.5px;
      box-shadow: 4px -2px #888888;
      text-align: center;
    }
    .CSpan {
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      color: rgb(48, 0, 185);
      cursor: pointer;
    }
    .CAngkor {
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      color: rgb(48, 0, 185);
    }